<% if user_signed_in? %>
	<div class="row">
		<%= render partial: 'elements/pending_out' %>
		<%= render partial: 'elements/pending_in' %>
	</div>
<% else %>
<h1>Divvly</h1>
<p>Login to continue</p>
<% end %>